.btn {
    padding-top: 15%;
    padding-bottom: 15%;
    width: 20%;
    min-width: 170px;
    margin: 1%;
}

.headerFooter {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272727;
}

.buttonsDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15%;
}

a {
    background-size: cover;
}