.btn {
    padding-top: 15%;
    padding-bottom: 15%;
    width: 20%;
    min-width: 220px;
    margin: 1%;
    font-weight: 500;
    font-size: larger;
    color: white;
    text-shadow: 0 0 10px black;
    border: 5px none gray;
    transition: all .2s ease-in-out; 
}

.btn:hover {
    color: gray;
    transform: scale(1.1);
}

.headerFooter {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272727;
}

.buttonsDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
}

a {
    background-size: cover;
}